/*                                          VARIABLES                                          */
$color1:#008080;
$fondofooter:rgb(20, 19, 19);
$fondobody:rgb(27, 24, 24);
$negro:black;
$blanco:white;
$centrar: center;
$borde: $negro solid .2rem;
$layout:    "header"
            "cuerpo "
            "footer";
$fuente: 'Overpass', sans-serif;